.appointment {
    @include flexbox;

    .appointment-img {
        display: none;
        width: 40%;
        object-fit: fill;
    }

    form {
        background-color: $primary-color;
        width: 100%;
        padding: 80px 40px;

        .appointment-text {
            width: 100%;
            display: none;

            &.error {
                color: #f00;
                display: block;
            }

            &.send {
                color: #fff;
                display: block;
            }
        }

        input, select, textarea {
            border: none;
            border-bottom: 1px solid #fff;
            background-color: $primary-color;
            color: #fff;
            text-transform: uppercase;
            width: 100%;
            display: inline-block;
            margin-bottom: 20px;
            padding: 10px;

            &.error {
                border-bottom: 1px solid #f00;
            }
        }

        textarea {
            height: 180px;
        }
    }

    @media all and (min-width: $large) {
        form {
            width: 60%;
            @include flexbox;
            justify-content: space-between;

            input, select {
                width: 50%;
            }
        }

        .appointment-img {
            display: block;
        }
    }
}