* {
    box-sizing: border-box;
}
#kontener {
    position: relative;
    background-color: black;
    width: 400px;
    height: 130px;
}
.box {
    position: absolute;
    color: white;
    font-size: 70px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    animation-name: znikanie;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; 
}
.boxlove {
    position: absolute;
    background-color: black;
    color: white;
    font-size: 70px;
    text-align: center;
    transform: translateY(25%);
    left: 20px;
    visibility: hidden;
}
@keyframes znikanie {
    0% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}
#licz9 {
    animation-delay: 1s;
}
#licz8 {
    animation-delay: 2s;
}
#licz7 {
    animation-delay: 3s;
}
#licz6 {
    animation-delay: 4s;
}
#licz5 {
    animation-delay: 5s;
}
#licz4 {
    animation-delay: 6s;
}
#licz3 {
    animation-delay: 7s;
}
#licz2 {
    animation-delay: 8s;
}
#licz1 {
    animation-delay: 9s;
}
#love {
    animation-delay: 10s;
}